{% set pageTitle = [ title, site.title ] %}
{% if page.url == "/" %}
  {% set pageTitle = [ site.title ] %}
{% endif %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle | join(" | ") }}</title>
  <link rel="stylesheet" href="/css/style.css?v={% now %}">
</head>

<body class="antialiased bg-white dark:bg-slate-900 text-slate-700 dark:text-slate-200">
  <div class="flex flex-col min-h-screen max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 divide-y-2">
    <header class="py-4 sm:py-6 lg:py-8">
      <a href="/" class="text-xl font-semibold hover:underline">{{ site.title }}</a>
    </header>
    <main class="flex-grow py-8 divide-y">
      <header class="prose prose-slate dark:prose-invert pb-8">
        {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

        {% if breadcrumbs.length > 0 %}
          <!-- Breadcrumbs -->
          <nav class="not-prose mb-6 text-sm hidden md:block">
            <ol class="flex space-x-3">
              {% set classes = ["after:content-['/']", "after:ml-3"] %}
              <li class="{{ classes | join(" ") }}"><a href="{{ crumb.url }}" class="hover:underline">{{site.title}}</a></li>

              {% for crumb in breadcrumbs %}
                {% if loop.last %}
                  {% set classes = ["text-slate-500"] %}
                {% endif %}

                <li class="{{ classes | join(" ") }}"><a href="{{ crumb.url }}" class="hover:underline">{{ crumb.title }}</a></li>
              {% endfor %}
            </ol>
          </nav>
          <!-- Breadcrumbs -->
        {% endif %}

        <h1>{{ title }}</h1>
        <p class="lead">{{ tagline }}</p>

        {% if layout === "page" and content | toc %}
          <aside class="text-sm">
            <strong>In this article:</strong>

            {{ content | toc | safe }}
          </aside>
        {% endif %}
      </header>

      <!-- Content -->
      <div class="pt-8">
        {% block content %}
        {% endblock %}
      </div>
      <!-- Content -->
    </main>
    <footer class="text-sm py-2 sm:py-4 flex items-center justify-between">
      <p>&copy; 2022 <a href="https://jakemulley.com/" class="hover:underline">Jake Mulley</a></p>
      <div class="flex items-center space-x-2">
        <a href="https://github.com/jakemulley/serverlessarchitecture.dev" class="fill-slate-500 hover:fill-slate-300">{% icon "github", "w-6 h-6" %} <span class="sr-only">GitHub</span></a>
      </div>
    </footer>
  </div>
</body>
</html>
