{% set pageTitle = [ title, site.title ] %}
{% if page.url == "/" %}
  {% set pageTitle = [ site.title ] %}
{% endif %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle | join(" | ") }}</title>
  <link rel="stylesheet" href="/css/style.css?v={% now %}">
</head>

<body class="antialiased">
  <div class="flex flex-col min-h-screen max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 divide-y-2">
    <header class="py-4 sm:py-6 lg:py-8">
      <a href="/" class="text-xl font-semibold hover:underline">{{ site.title }}</a>
    </header>
    <main class="flex-grow py-8">

      <!-- Breadcrumbs -->
      {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
      {% if breadcrumbs.length > 0 %}
        <nav class="mb-6 text-sm hidden md:block" aria-label="Breadcrumb">
          <ol class="flex items-center space-x-6">
            <li>
              <div class="flex items-center">
                <a href="/" class="text-gray-500 hover:text-gray-700">
                  <div class="w-5 h-5">{% icon "fas", "home" | safe %} <span class="sr-only">Home</span></div>
                </a>
              </div>
            </li>
            {% for crumb in breadcrumbs %}
              {% if loop.last %}
                <li aria-current="page">
              {% else %}
                <li>
              {% endif %}
                <div class="flex items-center">
                  <a href="{{ crumb.url }}" class="text-gray-500 hover:text-gray-700">{{ crumb.title }}</a>
                </div>
              </li>
            {% endfor %}
          </ol>
        </nav>
      {% endif %}
      <!-- Breadcrumbs -->

      <!-- Content -->
      {% block content %}
      {% endblock %}
      <!-- Content -->
    </main>
    <footer class="text-sm py-2 sm:py-4">
      <p>&copy; 2022 <a href="https://jakemulley.com/" class="hover:underline">Jake Mulley</a></p>
    </footer>
  </div>
</body>
</html>
