{% set pageTitle = [ title, site.title ] %}
{% if page.url == "/" %}
  {% set pageTitle = [ site.title ] %}
{% endif %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle | join(" | ") }}</title>
  <link rel="stylesheet" href="/css/style.css?v={% now %}">
</head>

<body>
  <div class="flex flex-col min-h-screen">
    <header></header>
    <main class="flex-grow">
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>&copy; 2022 <a href="https://jakemulley.com/">Jake Mulley</a></p>
    </footer>
  </div>
</body>
</html>
