{% extends "layouts/base.njk" %}

{% block content %}

  {% set sections = collections.all | eleventyNavigation %}

  <div class="space-y-8">
    {% for section in sections %}
      {% if section.url !== "/" %}
        <section class="space-y-4">
          <div class="flex flex-col md:flex-row items-baseline">
            <h2 class="text-2xl font-bold">{{ section.title }}</h2>
            <a href="{{ section.url }}" class="ml-0 md:ml-4 mt-2 md:mt-0 hover:underline">View all <span class="sr-only">{{ section.title }} articles</span> &rarr;</a>
          </div>
          <ul class="overflow-hidden rounded-md border border-slate-200 dark:border-slate-700 divide-y divide-slate-200 dark:divide-slate-700">
            {% for child in section.children %}
              <li>
                <a href="{{ child.url }}" class="flex items-center justify-between p-4 bg-white dark:bg-slate-900 hover:bg-slate-100 dark:hover:bg-slate-800">
                  <div>
                    <h3 class="font-semibold">{{ child.title }}</h3>
                    {% if child.tagline %}
                      <p class="text-slate-500 text-sm">{{ child.tagline }}</p>
                    {% endif %}
                  </div>
                  <span>&rarr;</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
